<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Fundamentals (Good)</span></div>

# There is more to if

In [12]:
name = 'Raven' 
#Depending on the name, the respective prints will show as defined below. 
#Elif used as else if (for other defined values), else for everything else in general.

if name == 'Batman':
    print('Hello Batman!')
elif name == 'Robin':
    print('Hello Sidekick!')
elif name == 'Raven':
    print('Hello Titans!')
else:
    print('Hello World!')

Hello Titans!

# Asking questions

In [13]:
fruits = ['apple', 'banana', 'pineapple', 'jackfruit']
vegetables = ['celery', 'potato', 'broccoli', 'kale']

In [26]:
#case-sensitive
'apple' in fruits

True

In [22]:
'peach' in fruits

False

In [31]:
'apple' in fruits
'peach' in fruits
#Will just run the updated latest code in the same cell

False

In [28]:
print('apple' in fruits)
print('peach' in fruits)
#If want to display all use print

True
False

In [32]:
'peach' not in fruits

True

In [36]:
('apple' in fruits) and ('celery' in vegetables) #can use and for checking of multiple groups and display if "and"

True

In [39]:
('apple' in fruits) or ('celery' in vegetables) #can use or for checking of multiple groups and display if "or"

True

In [42]:
'app' in 'apple' #can use in for like control F
#not, in, and, or are some Python keywords that are useful in asking questions.

True

In [45]:
3>10.5
#compare can as it is numbers

False

In [46]:
3>apples
#Cannot compare as too complicated

NameError: name 'apples' is not defined

In [48]:
'apples' > 'oranges'
#This comparison works because English letters are internally represented as numbers. For example, 'a' is 97 and 'o' is 111. 
#Will make sense when data types are learned

False

## Asking Math questions

| Question/Condition     | Math Symbol | Python Symbols |
|------------------------|:-----------:|:--------------:|
| Equals?                |      =      |       ==       |
| Not equal?             |      ≠      |       !=       |
| Less than?             |      <      |        <       |
| Greater than?          |      >      |        >       |
| Less than or equal?    |      ≤      |       <=       |
| Greater than or equal? |      ≥      |       >=       |

can put x>5, x<15 but 5<x<15 is easier to read

# Python stores information in different formats or types

In [8]:
x = int(1.234)
print(x, type(x))

#datatype as an integer/number. Note: Will drop decimal point

1 <class 'int'>

In [9]:
x = float(1.234)
print(x, type(x))

#datatype as a decimal number

1.234 <class 'float'>

In [10]:
x = complex(1.234)
print(x, type(x))

#datatype as complex/imaginary number

(1.234+0j) <class 'complex'>

In [19]:
x = str(1.234)
print(x, type(x))

#datatype as an english word

1.234 <class 'str'>

More data types [here.](https://realpython.com/python-data-types/) Might need to change type of variable such as when an OCR table of numbers is involved.

In [22]:
x = '1.234'        # x is a string because ' '. if x=1.234 it is as float, default setting etc
print(x, type(x))

1.234 <class 'str'>

In [17]:
x = float(x)       # x is now a decimal number but can be anything for example if int then x=int(x)
print(x, type(x))

#Changing the data type into another is called typecasting

1.0 <class 'float'>

# Never compare floats directly

## The Problem

In [27]:
a = 0.1
a3 = 0.3
a * 3 == a3
#Computers have finite (hardware) resources, floating point numbers cannot be exactly stored in a computer leading to roundoff errors.

False

In [24]:
f'{0.3:.17f}'

'0.29999999999999999'

## A solution

In [26]:
eps = 1E-10
abs(a * 3 - a3) < eps

#Should check if the variable is close to the expected values instead of checking for equality.

True

In [31]:
#Or just use Numpy 
import numpy as np
np.isclose(a * 3, a3)

True

# Combining English and variables

In [37]:
#Python has the ability to seamlessly combine strings (i.e., English) with variables. 

name = "Batman"
print(f"Hello {name}!")

name = "Batman"
print(f"Hello {name.upper()}!")

Hello Batman!
Hello BATMAN!

In [39]:
x = 10
print(f"The value of {x} squared is {x**2}!")

#f-string or string interpolation is the f and {}

The value of 10 squared is 100!

In [44]:
#Using f-strings to format text (strings)

text = 'Bruce Wayne is Batman.'
print(f'{text}')

print(f'{text:>30}')      # A block of 30 characters;
                          # aligned right

print(f'{text:^30}')      # A block of 30 characters;
                          # aligned centre

print(f'{text:<30}')      # A block of 30 characters;
                          # aligned left

Bruce Wayne is Batman.
        Bruce Wayne is Batman.
    Bruce Wayne is Batman.
Bruce Wayne is Batman.

In [49]:
#Using f-string to format numbers.

print(f'The cube of pi to 5 decimal places is {np.pi**3:.5f}')

#The f in .5f is used to tell the f-string to output the number in decimal notation. (in my case is 5)

The cube of pi to 5 decimal places is 31.00628

In [50]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6e}')

#The e in .6e is used to tell the f-string to output the number in scientific notation.

The cube of pi to 6 decimal places is 3.100628e+01

## Structure of f-strings

f-string formatting has the structure {X:>0Y.ZW}. Below are what each variable mean. More info can be found [here.](https://pyformat.info/)

| Letter | Action                          | Possible Options                                               |
|--------|---------------------------------|----------------------------------------------------------------|
| X      | Variable to format              | Can be a number or a string                                    |
| >      | Alignment                       | < (Left justified) > (Right justified) ^ (Centre justified)    |
| 0      | Use 0’s to pad the spaces       | You can use other characters like a space .                    |
| Y      | Total number of characters      |                                                                |
| Z      | Number of decimal places        |                                                                |
| W      | Specifies the type of variable. | f (float) d (integer) s (string) g (Asks Python to figure out) |

# Escape sequences

In [55]:
#Escape sequences refers to special characters we sometimes need when writing English. 

#For example, to break a line and add a tab:

print('Line 1\n\tLine 2\n\t\tLine 3')

Line 1
	Line 2
		Line 3

Very useful compliation 
| Escape Sequence |     Meaning    |
|:---------------:|:--------------:|
|        \’       |  Single quote  |
|        \\       |    Backslash   |
|        \n       |     Newline    |
|        \t       | Horizontal Tab |

In [61]:
#Example

print('You\'re twenty years old.') 

print("You're twenty years old.") #in this case, without escape sequence, must use print(" ___"). ' __' cannot use as already in sentence.

You're twenty years old.
You're twenty years old.

In [73]:
print('A\\B\\C')

print('A\nB\nC') #Linebreaks like <br> in HTML.

print('A\tB\tC') # The tabs ended mid code.

A\B\C
A
B
C
A	B	C

# Computers read = from Right to Left!

In [78]:
x = 40        # Assigns the value 40 to the variable x
y = x + 2     # Assigns the value of x + 2 to the variable y

# The following is a common way to modify a variable's value:
y = 40        # Assigns the value 40 to the variable y
y = y + 2     # Adds 2 to the current value of y and assigns the result back to y
print(y)      # Prints the final value of y

42

In [80]:
x = y = 10 #Chain and reassign value of x and y.
print(y)

10

# Shorter and Cleaner Code

In [81]:
y = 40
y = y + 2
y

42

In [82]:
y = 40
y += 2    # Same as y = y + 2
y

42

This is called Shorthand syntax which makes code neater. For example, can replace y = y + 2 with y += 2.
<br>
Below is a compliation of shorthand syntax.
| Purpose        | Long form | Shorthand |
|----------------|:---------:|:---------:|
| Addition       |  y = y+2  |   y += 2  |
| Subtraction    |  y = y-2  |   y -= 2  |
| Multiplication |  y = y*2  |   y *= 2  |
| Division       |  y = y/2  |   y /= 2  | 2  |

# Python can be a prima-donna.

Note: If python doesn't understand, will have error message. Scroll the message and see the problem. Fixing coding errors is called debugging and should do often to learn and improve.

# Best Practices for Scientific Computing

Tip: Aim to produce easily understandable code. Always start simple and get something working first before making it perfect. <br>

Notes: 
1. Write programs for people, not computers.
2. Optimise software only after it works correctly.
3. Document design and purpose, not mechanics.
4. Collaborate.

# Looking for help

In [85]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

Important: 
Can get help/information about Python functions from within Python but NOT recommended. Need experience to understand so best to ask the "all-reliable' and my best friend in studies, ChatGPT.

![](https://ih1.redbubble.net/image.4827521114.3294/st,small,507x507-pad,600x600,f8f8f8.jpg)